.Rproj.user
.Rhistory
.RData
.Ruserdata

.pytask.sqlite3
bld/
pdfs/

fdapoi/
*.Rproj

.ipynb_checkpoints/

*.pdf
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.sty

src/__pycache__/

topics_metrics.egg-info/
