src/bokeh/__pycache__/bokeh_plotting.cpython-39.pyc

.Rproj.user
.Rhistory
.RData
.Ruserdata

.pytask.sqlite3
bld/
pdfs/

fdapoi/
*.Rproj

.ipynb_checkpoints/

bld/**/*.pdf
src/**/*.pdf

*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.sty
*.synctex(busy)
*.bak

src/__pycache__/

topics_metrics.egg-info/
