.Rproj.user
.Rhistory
.RData
.Ruserdata

fdapoi/
*.Rproj

.ipynb_checkpoints/
data/

*.pdf


*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.sty

src/__pycache__/
